<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  Kibris order email generator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Email generator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Generator", "Index", "EmailGenerator")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Msjahun - Kibris order email generator </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var textFile = null;

        $("#btnDeleteAll").click(function () {

            if (confirm("You are about to delete all products")) {
                $.ajax({
                    type: "POST",
                    url: "/Home/DeleteAll",
                   
                    success: function (result) {
                        alert("all products deleted");
                        location.reload();
                   }
                })
            }

   

        });

        $(".btnDeleteSpecific").click(function () {

            if (confirm("You are about to delete product" +this.value)) {
                $.ajax({
                    type: "POST",
                    url: "/Home/DeleteSpecificProduct/" + this.value,
                    data: {
                        product_id: this.value,
                        

                    },
                    success: function (result) {
                        alert("Product deleted");
                        location.reload();
                   }
                })
            }

        });


        $("#btnEditUpdate").click(function () {
          
            $('#hiddenLanguageId').val();
            if (confirm("Are you sure you want to update product" + this.value)) {
                $.ajax({
                    type: "POST",
                    url: "/Edit/UpdateProduct/",
                    data: {
                       
                        id: $('#product_id').val(),
                        name: $('#product_name').val(),
                        price: $('#product_price').val(),
                        currency: $('#product_currency').val(),
                        img_url: $('#product_img_url').val(),
                        product_url: $('#product_url').val()

                    },
                    success: function (result) {
                        alert("Product has been updated");
                        location.reload();
                    }
                })
            }

        });

    $('#generator').click(function () {
             alert("hello Responsiveness");
            // search_main();

    
      
         


            makefile("hello world");
       


          @*  $.ajax({
                type: "POST",
                url: "/Home/GetSearchResultResponsive",
                data: {

                    name_of_dormitory: name_of_dormitoryPosted,
                    dormitory_type: dormitory_typePosted,

                },
                success: function (result) {
                    //     alert(result);
                    $("#search_results").html(result);
                }
            })*@

        });
        function makefile(text) {
            var data = new Blob([text], {
                type: 'text/plain'
            });

            // If we are replacing a previously generated file we need to
            // manually revoke the object URL to avoid memory leaks.
            if (textFile !== null) {
                window.URL.revokeObjectURL(textFile);
            }

            textFile = window.URL.createObjectURL(data);

            return textFile;
        }

    </script>
</body>
</html>
